



<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-6 border border-3">
<h3 class="text-center m-3"><b> BOOKSTORE </b></h3>
      <form action="">
        <input type="email" class="form-control mb-2" name="email" placeholder="email">
        <input type="text" class="form-control mb-2" name="username" placeholder="username">
        <input type="password" class="form-control mb-2" name="pswd" placeholder="pswd">

      </form>
      <button class="btn btn-dark" (click)="register()">signup</button>






    </div>


    <div class="col-"></div>
  </div>
</div>


