.line{
  border-bottom:1px ridge rgb(18, 18, 19);
  height: 50px;
  width: 0px;
  right:2px;
  position: relative;

  }
  .line::after {
    content: " ";
    display: block;
    position: absolute;
    height: 1px;
    background: black;
    width: 180px;
    left: 100%;
    top: calc(50% - 2px);
  }
.container{
  margin-top: 200px;

}
