/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Roboto+Condensed:ital,wght@1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@1&family=Rakkas&family=Roboto+Condensed:ital,wght@1,300;1,700&display=swap');

body{
  font-family: 'IBM Plex Serif', serif;
  
}
.card-img-top:hover{
transform:scale(1.01);
transition:0.5s;
box-shadow: 5px 5px 25px #000;
}